{% extends 'base.html.twig' %}

{% block body %}

    <ul class="uk-pagination uk-flex-center" uk-margin>
        {% if currentPage == 1 %}
    <li class="not-displayed"><a href="{{ path("category_index", {"name" : CategoryName, "page" : currentPage-1}) }}"><span uk-pagination-previous></span></a></li>
        {% else %}
        <li><a href="{{ path("category_index", {"name" : CategoryName, "page" : currentPage-1}) }}"><span uk-pagination-previous></span></a></li>
        {% endif %}
    {% for numPage in countArticles %}
        {% if numPage == currentPage %}
        <li class="uk-active"><a href="{{ path("category_index", {"name" : CategoryName, "page" : numPage}) }}">{{ numPage }}</a></li>
        {% else %}
        <li><a href="{{ path("category_index", {"name" : CategoryName, "page" : numPage}) }}">{{ numPage }}</a></li>
        {% endif %}
    {% endfor %}

    {% if currentPage == countArticles | length %}
    <li class="not-displayed"><a href="{{ path("category_index", {"name" : CategoryName, "page" : currentPage+1}) }}"><span uk-pagination-next></span></a></li>
        {% else %}
            <li><a href="{{ path("category_index", {"name" : CategoryName, "page" : currentPage+1}) }}"><span uk-pagination-next></span></a></li>

    {% endif %}
    </ul>
    <div class="uk-child-width-1-3 uk-text-center"  uk-grid>
        {% for article in articles | slice(pageFloorSlice,6 )%}
            <article class="uk-article">

                <h1 class="uk-article-title"><a class="uk-link-reset" href="{{ path("article_show", {"slug" : article.slug}) }}">{{ article.title }}</a></h1>

                <p class="uk-article-meta">Written by <a href="#">{{ article.author.name }}</a>
                    on {{ article.dateArticle |date('d.m.Y') }}. Posted in <a href="#"></a></p>

                <p class="homepage-Article">
                    {{ article.content | truncate(200) }}
                </p>

                <div class="uk-grid-small uk-child-width-auto" uk-grid>
                    <div>
                        <a class="uk-button uk-button-text" href="{{ path("article_show", {"slug" : article.slug}) }}">Read more</a>
                    </div>
                    <div>
                        <a class="uk-button uk-button-text" href="{{ path("article_show", {"slug" : article.slug}) }}">{{ article.comments | length }} Comments</a>
                    </div>
                </div>

            </article>
        {% endfor %}
    </div>


{% endblock %}