<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">

    <nav class="uk-navbar-container uk-child-width-1-1@s" uk-navbar style="position: relative; z-index: 980;">

        <div class="uk-navbar-center uk-child-width-1-1@s">

            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="{{ path("homepage") }}">DeutschMe.fr</a></li>
                <li>
                    <a href="#">Articles par catégories</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="{{ path("category_index", {"name" : 'article_fr', "page" :"1"}) }}">Article français sur l'Alleamgne</a></li>
                            <li><a href="{{ path("category_index", {"name" : 'article_de', "page" :"1"}) }}">deutsche Artikeln über Frankreich</a></li>
                            <li><a href="{{ path("category_index", {"name" : 'article_other', "page" :"1"}) }}">Others</a></li>
                        </ul>
                    </div>
                </li>
                {% if is_granted('ROLE_AUTHOR') and not is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path("user_article") }}">Gestion de ses articles</a></li>
                {% endif %}


                {% if is_granted( 'ROLE_ADMIN')%}
                    <li><a href="{{ path("article_index") }}">Gestion des articles / Admin</a></li>
                    {% endif %}
            </ul>

            {%  if is_granted('ROLE_USER') %}
                <a href="{{ path("app_logout") }}">logout</a>
            <small class="">Vous êtes connecté  </small>
            {% endif %}
            {% if not is_granted('ROLE_USER') %}
        </ul>
                <a href="{{ path("app_login") }}">login</a>
            {% endif %}
        </div>

    </nav>
</div>